$estilos:(
    colores:white,
    noticias: gray,
    chica: 10px,
    mediana: 20px,
    grande: 35px,
    titulo: 40px
);
$colorBarras: #1e7aae;
$coloDiscord: #E3F2F7;
$colorFuente: white;
$colorCuerpo: beige;
$colorNoticias: gray;
$colornoticias2: green;
$fuenteTamanotitulo: 40px;
$fuenteTamanosubti: 35px;
$fuenteParrafo: 20px;
$familiaFuente: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;